 @import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: rgb(21, 56, 87);
    overflow-x: hidden;
}